<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a href="index.html"><h4 class="logo-footer"><img style="width: 100px;" src="{{media}}img/logo-small-footer.png"></h4></a>
                        <p>
                            <em>delivering exceptional nightly condo rental experiences</em>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Activities</h4>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-group"></i></span>Table Rock Lake
                                <ul class="list-unstyled">
                                    <li>Covered Boat Slip May Be Available</li>
                                    <li>Boating</li>
                                    <li>Fishing</li>
                                    <li>Also nearby - Indian Point Marina</li>
                                </ul>
                            </li>

                            <li><span class="box-small"><i class="icon-group"></i></span>Branson
                                <ul class="list-unstyled">
                                    <li>Shows</li>
                                    <li>Restaurants</li>
                                    <li>Go-Karts, Putt Putt</li>
                                </ul>
                            </li>
                        <li><span class="box-small"><i class="icon-group"></i></span>Silver Dollar City
                                <ul class="list-unstyled">
                                    <li>Rides</li>
                                    <li>Music</li>
                                    <li>Ozark Crafts and Practising Artesans</li>
                                </ul>
                            </li>

                        <li><span class="box-small"><i class="icon-group"></i></span>Golf
                                <ul class="list-unstyled">
                                    <li>Payne Stewart</li>
                                    <li>Top of the Rock</li>
                                    <li>and others</li>
                                </ul>
                            </li>

                            <li><span class="box-small"><i class="icon-group"></i></span>And Much More!
                                <ul class="list-unstyled">
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Address</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-building"></i></span>Branson Tablerock Oasis</li>
                            <li>Branson, Missouri</li>
                            <li>Treehouse Condos</li>
                            <li>Indian Point</li>
                            <li><em>Exact location disclosed after booking</em></li>
                        </ul>

                        <div class="spacer20"></div>

                        <h4>Contact</h4>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-book"></i></span> 574.707.5177</li>
                        </ul>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="social-icon-main"></i><img src="{{media}}img/bookNowOnVRBO_bw_footer.png"></span>
                                <a href="http://www.vrbo.com/686045/">Reserve Your Stay 4 Bedroom at Our First Condo</a>
                            </li>
                        </ul>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="social-icon-main"></i><img src="{{media}}img/bookNowOnVRBO_bw_footer.png"></span>
                                <a href="http://www.vrbo.com/1023371/">Reserve Your Stay 4 Bedroom at Our Second Condo</a>
                            </li>
                        </ul>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-desktop"></i></span>
                                <a href="{{ root }}contactus.html">Contact Form</a>
                            </li>
                        </ul>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-facebook" title="facebook"></i></span>
                                <a href="https://www.facebook.com/bransontablerockoasis" target="_blank">Like Us on Facebook</a>
                            </li>
                        </ul

                    </div>
                </div>
            </div>
        </div>

        <div class="row after-footer">
            <div class="col-md-8">
                <p>&copy;2020 BransonTablerockOasis - ALL RIGHTS RESERVED</p>
                <p>Branson Tablerock Oasis is a division of RT Las Palmas</p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="https://www.facebook.com/bransontablerockoasis" target="_blank" class="social-icon-main"><i class="icon-facebook" title="facebook"></i></a>

                        <span class="divider-social"></span>

                    <a href="http://www.vrbo.com/686045/" class="social-icon-main">
                        <img src="{{media}}img/bookNowOnVRBO_bw_footer.png"></a>

                        <a href="http://www.vrbo.com/1023371/" class="social-icon-main">
                            <img src="{{media}}img/bookNowOnVRBO_bw_footer.png"></a>

                        <span class="divider-social"></span>

                    <a href="http://members.bransonchamber.com/list/member/branson-tablerock-oasis-4202" target="_blank" class="social-icon-main">
                        <img src="{{media}}img/BransonChamberlogoFooter.jpg"></a>

                </p>
            </div>
        </div>
    </div>
</footer>
