<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a href="index.html"><h4 class="logo-footer"><img style="width: 100px;" src="{{media}}img/logo-small-footer.png"></h4></a>
                        <p>
                            <em>catalysing indigenous discipleship movements within diaspora communities</em>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Address</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-building"></i></span>Malaysia Diaspora Network</li>
                            <li>Kuala Lumpur, Malaysia</li>
                        </ul>

                        <div class="spacer20"></div>

                        <h4>Contact</h4>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-book"></i></span>phone number</li>
                        </ul>

                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-desktop"></i></span>
                                <a href="{{ root }}contactus.html">Contact Form</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row after-footer">
            <div class="col-md-8">
                <p>&copy;2020 MalaysiaDiasporaNetwork - ALL RIGHTS RESERVED</p>
            </div>
          
        </div>
    </div>
</footer>
