<header id="home">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo with back to top -->


                <a href="index.html" title="Home" class="back-to-top">
                    <img src="{{media}}img/logo-small-header.png " alt="logo" class="logo">
                </a>

                <!-- Menu -->
                <ul class="nav navbar-nav">

                    <li><a href="{{ root }}index.html">Home</a></li>
                    <li><a href="{{ root }}regions/index.html">Regions</a>
                      <ul>
                        <li><a href="{{ root }}regions/klangvalley.html">Klang Valley</a></li>
                        <li><a href="{{ root }}regions/sabah.html">Sabah</a></li>
                        <li><a href="{{ root }}regions/ipoh.html">Ipoh</a></li>
                        <li><a href="{{ root }}regions/penang.html">Penang</a></li>
                        <li><a href="{{ root }}regions/otherregion1.html">Other Region 1</a></li>
                      </ul>
                    </li>

                    <li><a href="{{ root }}diasporainfo/index.html">Diaspora Info</a>
                      <ul>
                        <li><a href="{{ root }}diasporainfo/UNHCRdocs.html">UNHCR docs</a></li>
                        <li><a href="{{ root }}diasporainfo/generaldiasporadocs.html">General Diaspora docs</a></li>
                        <li><a href="{{ root }}diasporainfo/globaldiasporanetwork.html">Global Diaspora Network</a></li>
                      </ul>
                    </li>

                    <li><a href="{{ root }}trainingevents/index.html">Training-Events</a>
                      <ul>
                        <li><a href="{{ root }}trainingevents/diasporaexposure.html">Diaspora Exposure</a></li>
                        <li><a href="{{ root }}trainingevents/dca.html">Diaspora Cross-Culture Academy</a></li>
                        <li><a href="{{ root }}trainingevents/nds.html">National Diaspora Symposium</a></li>
                        <li><a href="{{ root }}trainingevents/globalregional.html">Global &amp; Regional Events</a></li>
                      </ul>
                    </li>

                    <li><a href="{{ root }}contactus.html">Contact Us</a></li>

                </ul>
                <!-- Menu End -->
            </div>
        </div>
    </nav>
</header>
