{% extends "base/subpage.html" %}

{% block subheading %}Contact Us{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}contactus.html">Contact Us</a></li>

{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <p>The very best way to check on the availability of your desired date range is to click on this link to our <strong>VRBO</strong> <em>Vacation Rental By Owner</em> website and simply plug in your dates. Remember that you have two condos to choose from, so if your dates are taken on one, please check out the other. The calendars are totally up to date as we only do online bookings.</p>
    </div>
</div>

<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our First Condo
        </p>
    </a>

    <a href="http://www.vrbo.com/1023371/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our Second Condo
        </p>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25609.72554956809!2d-93.33768883383782!3d36.64526132063986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf1ea973fcff43%3A0x962b51c560b834e3!2sTreehouse+Ln%2C+Branson%2C+MO+65616!5e0!3m2!1sen!2sus!4v1426536241356" width="600" height="450" frameborder="0" style="border:0"></iframe>


        <iframe id="JotFormIFrame" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="http://form.jotform.us/form/50776438490161" frameborder="0" style="width:100%; height:732px; border:none;" scrolling="no"></iframe>
<script type="text/javascript">window.handleIFrameMessage = function(e) {var args = e.data.split(":");var iframe = document.getElementById("JotFormIFrame");if (!iframe)return;switch (args[0]) {case "scrollIntoView":iframe.scrollIntoView();break;case "setHeight":iframe.style.height = args[1] + "px";break;case "collapseErrorPage":if (iframe.clientHeight > window.innerHeight) {iframe.style.height = window.innerHeight + "px";}break;case "reloadPage":window.location.reload();break;}};if (window.addEventListener) {window.addEventListener("message", handleIFrameMessage, false);} else if (window.attachEvent) {window.attachEvent("onmessage", handleIFrameMessage);}</script>


    </div>
</div>

{% endblock %}
