{% extends "base/site-base.html" %}

{% block body %}

<section>
    <!-- revolution slider -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                {# Include slider contents #}
                {% include "components/index-slider.html" %}
            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row spacer20"></div>

    <h3>Our Vision</h3>
    <p>
    To provide you with high quality lodging that enhances your vacation time.
    </p>

    <h3>Your Vacation</h3>
    <p>
      Nestled in the Ozark Mountains, Branson Tablerock Oasis is your home-away-from-home. Come and enjoy the splendor of Table Rock Lake from your expansive balcony or get out on it with a boat from nearby Indian Point Marina (indianpointmarina.com). Boating, fishing, tubing, and swimming all await you if that is your desire. Championship golf courses, like the new Paine Stewart Top-of-the-Rock course are nearby. Closer yet is Silver Dollar City, the family friendly attraction that helped launch Branson into one of the nation's top vacation destinations.
    </p>

    <h3>Oasis Condo</h3>
    <p>
      We invite you to experience our upscale condos as your very own retreat designed for large families, multiple couples, or a renewal time for just you and your spouse. Each of the 4 bedrooms, that’s right 4 bedrooms , (and 3 bathrooms) are tastefully decorated and updated with the most modern amenities. These are true bedrooms, not lofts or other semi-private rooms. The master suite includes not only its own private bath and a king-sized bed, but also a walkout to the balcony. The other three bedrooms have queen-sized beds.
    </p>
    <p>
      Each condo are easy to access. One is reached by elevator from the same level you park your car. Thus, it is ideal for people with mobility issues who will be able to enjoy all of the main floor amenities (2 of the bedrooms / 2 of the bathrooms / kitchen / main floor living / dining / and balcony). The other condo is reached by going up one set of stairs from the parking level. So bring your elderly parents and grandparents knowing they will have a wonderful experience!
    </p>
    <p>
      The condos also have two separate living areas so that different activities can occur simultaneously. The main floor living area has a queen sleeper sofa and boasts a 50-55" 1080p HD flatscreen TV (and Blu-ray player). The upper floor living area has a section with a sleeper sofa (a full or a queen) and a 49-50" 1080p HD flatscreen TV and movie player. Both have sections with a game table. Each of the 4 bedrooms have their own 40-43" 1080p HD flatscreen TVs, so everybody can be happy. Thus each of the 1700 sq. ft. condos can accommodate 12 people on beds, which includes the four traditional beds in the bedrooms and the two foldout sofas. (While we do our best to provide for your sleeping requirements, please note that sleeper sofas are typically not as supportive and comfortable as regular beds.)
    </p>
    <p>
      The rental base rate is for the first 6 people. Additional guests are charged a low per person / per night fee (see detailed quote as you are booking).
    </p>
    <p>
      There is a fully-equipped galley style kitchen with a dishwasher / refrigerator with ice maker / microwave, and stove. Toaster, coffee maker (and grinder), can opener,  plates, silverware, pots and pans, and assorted cooking utensils are all provided. One has all new appliances and the other features granite countertops, and cherry floors and cabinetry in the kitchen.
    </p>
    <p>
      Our condos are located about mid-point on a ridge in the Ozark Mountain range. If you walk down the slope you will arrive at Table Rock Lake water's edge by the boathouse. Feel free to go out on the boathouse to enjoy the view and even jump off the end for a refreshing swim
    </p>
    <p>
      If you walk up the slope from the condo (or across from the other condo), you can swim in the seasonal outdoor pool - Memorial Day weekend to Labor Day weekend (free to guests). Or check out the year-round indoor hot tubs. There is also a fitness room for people age 18 and older. The hot tubs and fitness room are operated by Treehouse Condos and are available for a nominal $20 extra fee paid directly to the Treehouse office good for the entire family for the entire stay (during their normal office hours).
    </p>
    <p>
      Do you have your own boat? Ask about the possibility of renting a covered boat slip for an additional fee of $15/night based on the number of nights you are booking. Availability varies, however, as we are working with guests between our two different condos. Therefore, if you are interested please check first and schedule in advance with your reservation. There is a gravel parking lot here at Treehouse Condos where you can park your trailer after you launch (do this at Indian Point Marina). 
    </p>
    <p>
      Sit out on our spacious balcony and enjoy the sunrise with a cup of coffee or gather the family for steaks on the electric grill. No matter the season, the views are always awesome and the wildlife active.
    </p>
    <p>
      It is our sincere desire that you thoroughly enjoy your hard-earned time away from jobs and stress. We want your stay in our condo to be a relaxing oasis where the demands on your time melt away and are replaced by a renewed sense of wonder and appreciation for God's creation.
    </p>


    <h3>Location</h3>
    <p>
      Our condos are located in the Treehouse Condos community on Indian Point, Branson, Missouri - right on Table Rock Lake. This is a residential community that also allows nightly rentals. It is therefore more geared to a family environment and is definitely not a “party” site. We want to maintain good relations with our neighbors, so our guests are asked to respect those around them who live here year-round.
    </p>
    <p>
      We are just over 1 mile past Silver Dollar City, so you can actually skip downtown Branson by entering from either the North or South route. Remember, our community not only has lake views, but is actually on the lake itself.
    </p>
    <p>Are you ready for your vacation? The very best way to check on the availability of your desired date range is to click on the links below to our <strong>VRBO</strong> <em>Vacation Rental By Owner</em> website and simply plug in your dates. Remember that we operate two condos, so if your dates don't work on the one, please check out the other. Those calendars are totally up to date.
    </p>
    <p>
      Book now with the confidence that you will have a great Ozark experience. Your payments are handled securely by VRBO-HomeAway and none of your credit cared information is disclosed to the owners. Your funds are fully refundable if you need to cancel, up to 30 days prior to your scheduled arrive. We are members in good standing with the Branson Chamber of Commerce.
    </p>
    <p>
      By the way, our condo is NO SMOKING and NO PETS are allowed. Thank you for your consideration.
    </p>


    <div class="text-center">
        <a href="http://www.vrbo.com/686045/">
            <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our First Condo
            </p>
        </a>

        <a href="http://www.vrbo.com/1023371/">
            <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our Second Condo
            </p>
        </a>

        <a href="http://www.wunderground.com/cgi-bin/findweather/hdfForecast?query=65616&bannertypeclick=golfv2" target="_blank"><img src='http://weathersticker.wunderground.com/cgi-bin/banner/ban/wxBanner?zip=65616&bannertype=golfv2_cond&course=Branson'  border='0' alt='Click for forecast!' />
        </a>



    </div>


</div>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        var tpj = jQuery;
        tpj.noConflict();

        tpj(document).ready(function () {

            if (tpj.fn.cssOriginal != undefined)
                tpj.fn.css = tpj.fn.cssOriginal;

            tpj('.fullwidthbanner').revolution({
                delay: 6000,
                startwidth: 960,
                startheight: 500,

                onHoverStop: "off", // Stop Banner Timet at Hover on Slide on/off

                thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbs: 0,
                navigationType: "none", // bullet, thumb, none
                navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none

                navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 10,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 10,
                soloArrowRightVOffset: 0,

                touchenabled: "on", // Enable Swipe Function : on/off



                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value


                fullWidth: "on",

                shadow: 0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

            });




        });
    </script>
{% endblock %}
