{% extends "base/subpage.html" %}

{% block subheading %}Maps{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}maps.html">Maps</a></li>
{% endblock %}

{% block content %}


    <h3>Click the links for various maps</h3>
        <strong><u><a href="{{ media }}pdfs/directions.pdf">Directions to Branson Tablerock Oasis - Treehouse Condos</a></u></strong>
        <br><strong><u><a href="{{ media }}img/map-indian-point.jpg">Map of Indian Point</a></u></strong>
        <br><strong><u><a href="{{ media }}img/map-treehouse-condos.png">Map of Treehouse Condos</a></u></strong>
        <br><strong><u><a href="{{ media }}img/map-branson-attractions.jpg">Map of Branson Area Attractions</a></u></strong>

        <div class="text-center">
            <a href="http://www.vrbo.com/686045/">
                <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
                <p>
                  12 Person / 4 Bedroom Condo / Our First Condo
                </p>
            </a>

            <a href="http://www.vrbo.com/1023371/">
                <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
                <p>
                  12 Person / 4 Bedroom Condo / Our Second Condo
                </p>
            </a>
        </div>

{% endblock %}
