{% extends "base/subpage.html" %}

{% block subheading %}Photo Gallery{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}photogallery.html">Photo Gallery</a></li>
{% endblock %}

{% block extra_styles %}
<link href="css/thumbnail-gallery.css" rel="stylesheet">
{% endblock %}

{% block content %}



<div class="container photo-gallery">

  <div class="row">
    <div class="col-md-12">
      <ul id="portfolio-filter">
        <li class="act"><a href="#" class="filter" data-filter="*">All</a></li>
        <li><a href="#" class="filter" data-filter=".interior">Interior</a></li>
        <li><a href="#" class="filter" data-filter=".mainlevel">Main Level</a></li>
        <li><a href="#" class="filter" data-filter=".secondlevel">Second Level</a></li>
        <li><a href="#" class="filter" data-filter=".exterior">Exterior</a></li>
        <li><a href="#" class="filter" data-filter=".balconyview">Balcony View</a></li>
      </ul>

      <section id="portfolio-items">
        <ul class="portfolio">

          <!-- Portfolio Item -->
            <li>
              <article class="col-md-3 project" data-tags="exterior,balconyview">
                <div class="project-item-isotope">
                  <div class="project-image">
                    <a href="{{ media }}img/gallery/mistybalcony.jpg" class="popup-link" title="A misty morning sunrise">
                      <img src="{{ media }}img/gallery/mistybalconysmall.jpg" alt="sdf">
                    </a>
                  </div>
                  <div class="project-text">
                    A misty morning sunrise
                  </div>
                </div>
              </article>
            </li>
          <!-- Portfolio Item End -->


          <!-- Portfolio Item -->
            <li>
              <article class="col-md-3 project" data-tags="interior,mainlevel">
                <div class="project-item-isotope">
                  <div class="project-image">
                    <a href="{{ media }}img/gallery/BTO2mainLRstairs.jpg" class="popup-link" title="Vaulted ceilings in the main level">
                      <img src="{{ media }}img/gallery/BTO2mainLRstairssmall.jpg" alt="sdf">
                    </a>
                  </div>
                  <div class="project-text">
                    Looking up from the main living area in our second condo
                  </div>
                </div>
              </article>
            </li>
          <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconymorning.jpg" class="popup-link" title="Morning sunrise off of our balcony">
                    <img src="{{ media }}img/gallery/balconymorning.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Morning sunrise off of our balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbedroom1.jpg" class="popup-link" title="Master bedroom with walkout to balcony">
                    <img src="{{ media }}img/gallery/masterbedroom1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom in first 4 bedroom condo with walkout to balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2masterbed.jpg" class="popup-link" title="Master bedroom with walkout to balcony">
                    <img src="{{ media }}img/gallery/BTO2masterbedsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom in our second 4 bedroom condo with walkout to balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2masterbedsuite.jpg" class="popup-link" title="Master bedroom with walkout to balcony">
                    <img src="{{ media }}img/gallery/BTO2masterbedsuitesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom with en-suite
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->



        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/outdoorpool1.jpg" class="popup-link" title="Outdoor seasonal pool">
                    <img src="{{ media }}img/gallery/outdoorpool1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Outdoor seasonal pool
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/lookup1.jpg" class="popup-link" title="Vaulted ceilings in the main level">
                    <img src="{{ media }}img/gallery/lookup1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Looking up from the main living area in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2kitchen.jpg" class="popup-link" title="Breakfast bar and stairs leading to the second level">
                    <img src="{{ media }}img/gallery/BTO2kitchensmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Granite countertops and cherry cabinets in second condo kitchen
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/boathouse.jpg" class="popup-link" title="Covered boathouse on the property, included in rental">
                    <img src="{{ media }}img/gallery/boathousesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Covered boathouse on the property with boat slip that may be available to rent at the time of booking
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2upperliving.jpg" class="popup-link" title="Upper level futon and books for guests to read">
                    <img src="{{ media }}img/gallery/BTO2upperlivingsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper level living area for guests in our second 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2game.jpg" class="popup-link" title="Upper level futon and books for guests to read">
                    <img src="{{ media }}img/gallery/BTO2gamesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper level game table for guests in second 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/enteringview.jpg" class="popup-link" title="Your first view upon entering our condo">
                    <img src="{{ media }}img/gallery/enteringviewsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Your first view upon entering our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/upbed4in1.jpg" class="popup-link" title="Master bedroom with walkout to balcony">
                    <img src="{{ media }}img/gallery/upbed4in1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper 4th bedroom in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->



        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2mainLRTV.jpg" class="popup-link" title="Your first view upon entering our condo">
                    <img src="{{ media }}img/gallery/BTO2mainLRTVsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main floor living room with balcony in our second 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2elevator.jpg" class="popup-link" title="Fitness room">
                    <img src="{{ media }}img/gallery/BTO2elevatorsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Elevator up to our second condo level from parking lot
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/fitnessroom.jpg" class="popup-link" title="Fitness room">
                    <img src="{{ media }}img/gallery/fitnessroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Fitness room
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/queensofaleaves.jpg" class="popup-link" title="Main living area sofa sleeper with balcony views">
                    <img src="{{ media }}img/gallery/queensofaleavessmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main living area sofa sleeper with balcony views in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indoorexercisetub.jpg" class="popup-link" title="Indoor exercise pool">
                    <img src="{{ media }}img/gallery/indoorexercisetubsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indoor exercise pool
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2downfromabove.jpg" class="popup-link" title="Upper level bedroom">
                    <img src="{{ media }}img/gallery/BTO2downfromabovesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Looking down from upper level in our second condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/upperbedroom.jpg" class="popup-link" title="Upper level bedroom">
                    <img src="{{ media }}img/gallery/upperbedroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  One of the upper level bedrooms in our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2bed4.jpg" class="popup-link" title="Upper level bedroom">
                    <img src="{{ media }}img/gallery/BTO2bed4small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  An upper level bedroom in our second 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/sunrisebalcony.jpg" class="popup-link" title="Early sunrise over Tablerock Lake from our balcony">
                    <img src="{{ media }}img/gallery/sunrisebalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Early sunrise over Tablerock Lake from our balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/dining1.jpg" class="popup-link" title="Dining area">
                    <img src="{{ media }}img/gallery/dining1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Dining area in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indoorhottubs.jpg" class="popup-link" title="Indoor hot tubs">
                    <img src="{{ media }}img/gallery/indoorhottubssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indoor hot tubs
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/enteringcondo.jpg" class="popup-link" title="Entering the front door">
                    <img src="{{ media }}img/gallery/enteringcondosmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Entering the front door of our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/highclearmorn.jpg" class="popup-link" title="Entrance to Treehouse Condos">
                    <img src="{{ media }}img/gallery/highclearmornsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Clear morning view from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/treehouseentrance.jpg" class="popup-link" title="Entrance to Treehouse Condos">
                    <img src="{{ media }}img/gallery/treehouseentrancesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Entrance to Treehouse Condos
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/gametable1.jpg" class="popup-link" title="Game table, games in the closet">
                    <img src="{{ media }}img/gallery/gametable1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Game table, games in the closet in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/guestbookunderstairs.jpg" class="popup-link" title="Guest guidebook">
                    <img src="{{ media }}img/gallery/guestbookunderstairssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Guest guidebook
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/treehousefromlake.jpg" class="popup-link" title="View of Treehouse Condos from Table Rock Lake">
                    <img src="{{ media }}img/gallery/treehousefromlakesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View of Treehouse Condos from Table Rock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel,balcony">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/interioroutbalcony.jpg" class="popup-link" title="View from inside looking out at the Tablerock Lake">
                    <img src="{{ media }}img/gallery/interioroutbalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View from inside looking out at Table Rock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/kitchen.jpg" class="popup-link" title="Fully equipped kitchen with new appliances">
                    <img src="{{ media }}img/gallery/kitchensmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Fully equipped kitchen with new appliances in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/highmistymorn.jpg" class="popup-link" title="Fully equipped kitchen with new appliances">
                    <img src="{{ media }}img/gallery/highmistymornsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Misty morning over the lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlevel2ndbedroom.jpg" class="popup-link" title="Second bedroom on the main level">
                    <img src="{{ media }}img/gallery/mainlevel2ndbedroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Second bedroom on the main level in our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/lakesideexterior.jpg" class="popup-link" title="Near view of the downslope side of our condo, top middle">
                    <img src="{{ media }}img/gallery/lakesideexteriorsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Near view of the downslope side of our condo, top middle
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbedroom2.jpg" class="popup-link" title="Master bedroom with en suite">
                    <img src="{{ media }}img/gallery/masterbedroom2small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom in our first 4 bedroom condo with en suite
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/upperbathroom.jpg" class="popup-link" title="Upstairs full bathroom">
                    <img src="{{ media }}img/gallery/upperbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upstairs full bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlivingtvwall.jpg" class="popup-link" title="Main living area with large TV">
                    <img src="{{ media }}img/gallery/mainlivingtvwallsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main living area with large TV in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2balconyviewfromLR.jpg" class="popup-link" title="Main living area with large TV">
                    <img src="{{ media }}img/gallery/BTO2balconyviewfromLRsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  The view from the main living area looking out at the lake in our second condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/laundry.jpg" class="popup-link" title="Our laundry room is available to guests">
                    <img src="{{ media }}img/gallery/laundrysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Our laundry room is available to guests
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconysnowscape.jpg" class="popup-link" title="Snowy view from the balcony">
                    <img src="{{ media }}img/gallery/balconysnowscapesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Snowy view from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlevelbathroom.jpg" class="popup-link" title="Main level guest bathroom">
                    <img src="{{ media }}img/gallery/mainlevelbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main level guest bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/queensofa1.jpg" class="popup-link" title="Queen sofa sleeper">
                    <img src="{{ media }}img/gallery/queensofa1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Queen sofa sleeper
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/interiorentrance.jpg" class="popup-link" title="Front door from inside">
                    <img src="{{ media }}img/gallery/interiorentrancesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Front door from inside our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/exercisefacility.jpg" class="popup-link" title="Exercise facility for guests 18 and older">
                    <img src="{{ media }}img/gallery/exercisefacilitysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Exercise facility for guests 18 and older
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbathroom.jpg" class="popup-link" title="Master bathroom">
                    <img src="{{ media }}img/gallery/masterbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/beautifulbalconyview.jpg" class="popup-link" title="Another beautiful day">
                    <img src="{{ media }}img/gallery/beautifulbalconyviewsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Another beautiful day
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2bed1.jpg" class="popup-link" title="Another beautiful day">
                    <img src="{{ media }}img/gallery/BTO2bed1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main level 2nd bedroom in our second condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indianpointmarina.jpg" class="popup-link" title="Indian Point Marina">
                    <img src="{{ media }}img/gallery/indianpointmarinasmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indian Point Marina
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/chairyhalfstairs.jpg" class="popup-link" title="Seating and stairs going up">
                    <img src="{{ media }}img/gallery/chairyhalfstairssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Seating and stairs going up in our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/dining2.jpg" class="popup-link" title="Dining area with vaulted ceiling and lake views">
                    <img src="{{ media }}img/gallery/dining2small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Dining area with vaulted ceiling and lake views in our first condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/redbudbalcony.jpg" class="popup-link" title="Redbud trees in bloom from the balcony">
                    <img src="{{ media }}img/gallery/redbudbalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Redbud trees in bloom from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/BTO2bed3.jpg" class="popup-link" title="Full sleeper sofa on second level">
                    <img src="{{ media }}img/gallery/BTO2bed3small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper level bedroom with pocket doors in our second condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/gamecloset.jpg" class="popup-link" title="Linens and games on the second level">
                    <img src="{{ media }}img/gallery/gameclosetsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Linens and games on the second level
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indianpointboatrental.jpg" class="popup-link" title="Indian Point Marina boat rental">
                    <img src="{{ media }}img/gallery/indianpointboatrentalsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indian Point Marina boat rental
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/foggybalcony.jpg" class="popup-link" title="A foggy sunrise from the balcony">
                    <img src="{{ media }}img/gallery/foggybalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  A foggy sunrise from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconynear.jpg" class="popup-link" title="View over the balcony">
                    <img src="{{ media }}img/gallery/balconynearsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View over the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/hazyday.jpg" class="popup-link" title="A hazy day">
                    <img src="{{ media }}img/gallery/hazydaysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  A hazy day
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/lifeisgood.jpg" class="popup-link" title="Tin artwork created for master bathroom">
                    <img src="{{ media }}img/gallery/lifeisgoodsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Tin artwork created for master bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainfloorhallway.jpg" class="popup-link" title="Main floor hallway">
                    <img src="{{ media }}img/gallery/mainfloorhallwaysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main floor hallway
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/morningafterrains.jpg" class="popup-link" title="Morning after rains">
                    <img src="{{ media }}img/gallery/morningafterrainssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Morning after rains
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/morningtimewithGodonthebalcony.jpg" class="popup-link" title="Morning time with God on the balcony">
                    <img src="{{ media }}img/gallery/morningtimewithGodonthebalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Morning time with God on the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/nightbalconyview.jpg" class="popup-link" title="Nightime view from the balcony">
                    <img src="{{ media }}img/gallery/nightbalconyviewsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Nightime view from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/parkinglottoonestairflight.jpg" class="popup-link" title="Cross over from the parking lot to one flight of stairs">
                    <img src="{{ media }}img/gallery/parkinglottoonestairflightsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Cross over from the parking lot to one flight of stairs up to our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/stairsoneflightfromparking.jpg" class="popup-link" title="One flight of stairs up from the parking lot">
                    <img src="{{ media }}img/gallery/stairsoneflightfromparkingsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  One flight of stairs up from the parking lot to our first 4 bedroom condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/poolside.jpg" class="popup-link" title="Hang out by the outdoor pool">
                    <img src="{{ media }}img/gallery/poolsidesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Hang out by the outdoor pool
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/swiminletboathouse.jpg" class="popup-link" title="Swim off the boathouse or your boat">
                    <img src="{{ media }}img/gallery/swiminletboathousesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Swim off the boathouse or your boat
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/thuderstormbay.jpg" class="popup-link" title="Thunderstorm over Table Rock Lake">
                    <img src="{{ media }}img/gallery/thuderstormbaysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Thunderstorm over Table Rock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="mainlevel,balcony">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/cardsandcoffeonthebalcony.jpg" class="popup-link" title="Coffee and cards out on the balcony">
                    <img src="{{ media }}img/gallery/cardsandcoffeonthebalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Coffee and cards out on the balcondy
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/changingseasons.jpg" class="popup-link" title="Changing seasons from the balcony">
                    <img src="{{ media }}img/gallery/changingseasonssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Changing seasons from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/cooldayonthelake.jpg" class="popup-link" title="Cool day out on the lake">
                    <img src="{{ media }}img/gallery/cooldayonthelakesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Cool day out on the lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/falllakecruise.jpg" class="popup-link" title="Fall lake cruise">
                    <img src="{{ media }}img/gallery/falllakecruisesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Fall lake cruise
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/orangefallmorning.jpg" class="popup-link" title="An orange fall sunrise on the balcony">
                    <img src="{{ media }}img/gallery/orangefallmorningsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  An orange fall sunrise on the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/purplefallmorning.jpg" class="popup-link" title="A spectacular purple fall sunrise on the balcony">
                    <img src="{{ media }}img/gallery/purplefallmorningsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  A spectacular purple fall sunrise on the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/SDCechohollow.jpg" class="popup-link" title="Nearby Silver Dollar City's Echo Hollow nightly show">
                    <img src="{{ media }}img/gallery/SDCechohollowsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Nearby Silver Dollar City's Echo Hollow nightly show
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/topoftherockchapel.jpg" class="popup-link" title="Top of the Rock's chapel by the lake">
                    <img src="{{ media }}img/gallery/topoftherockchapelsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Top of the Rock's chapel by the lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/topoftherockdrivingrange.jpg" class="popup-link" title="Top of the Rock's driving range">
                    <img src="{{ media }}img/gallery/topoftherockdrivingrangesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Top of the Rock's driving range
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/dawnawaits.jpg" class="popup-link" title="Dawn Awaits over Table Rock Lake">
                    <img src="{{ media }}img/gallery/dawnawaitssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Dawn awaits over Table Rock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        </ul>
      </section>
    </div>
  </div>
</div>



<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our First Condo
        </p>
    </a>

    <a href="http://www.vrbo.com/1023371/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our Second Condo
        </p>
    </a>


{% endblock %}
