{% extends "base/subpage.html" %}

{% block subheading %}Rental Rates{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}rentalrates.html">Rental Rates</a></li>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <p>Our rates are very competitive and are seasonally-adjusted. For the rate in your desired date range please click on this link to our <strong>VRBO</strong> <em>Vacation Rental By Owner</em> website and go to the <strong>Rates</strong> tab. Those are the most current rates. There are also weekly reduced rates for stays that are 7 nights or longer.</p>
    </div>
</div>

<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our First Condo
        </p>
    </a>

    <a href="http://www.vrbo.com/1023371/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our Second Condo
        </p>
    </a>



{% endblock %}
