{% extends "base/subpage.html" %}

{% block subheading %}Rental Agreement{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}rentalagreement.html">Rental Agreement</a></li>
{% endblock %}

{% block content %}


    <h3>Click the link to view the rental agreement</h3>
                <strong><u><a href="{{ media }}pdfs/Branson_Rental_Agreement.pdf">Rental Agreeement</a></u></strong>



                <div class="text-center">
                    <a href="http://www.vrbo.com/686045/">
                        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
                        <p>
                          12 Person / 4 Bedroom Condo / Our First Condo
                        </p>
                    </a>

                    <a href="http://www.vrbo.com/1023371/">
                        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
                        <p>
                          12 Person / 4 Bedroom Condo / Our Second Condo
                        </p>
                    </a>
                </div>

{% endblock %}
