{% extends "base/subpage.html" %}

{% block subheading %}Things To Do{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}thingstodo.html">Things To Do</a></li>

{% endblock %}

{% block content %}
<p>Here are some great local attractions to consider while you are vacationing in the area</p>

<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Silver Dollar City</h4>
            </div>

            <div class="our-team-image">
              <a href="https://www.silverdollarcity.com/theme-park">
                  <img src="{{ media }}img/index-slider/16tboSDCTrain.jpg" alt="#">
              </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Shepherd of the Hills</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://theshepherdofthehills.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Indian Point Marina</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.indianpointmarina.com/rentboat.php" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>State Park Marina</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.stateparkmarina.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Payne Stewart Golf Course</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.paynestewartgolfclub.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Other Branson Golf Courses</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.golfbranson.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Sight and Sound Theater</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.sight-sound.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Branson Landing</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="http://www.bransonlanding.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<h4>Click on link for Branson attractions map</h4>
    <strong><u><a href="{{ media }}img/map-branson-attractions.jpg">Map of Branson Area Attractions</a></u></strong>

    <div class="text-center">
        <a href="http://www.vrbo.com/686045/">
            <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our First Condo
            </p>
        </a>

        <a href="http://www.vrbo.com/1023371/">
            <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our Second Condo
            </p>
        </a>
    </div>

{% endblock %}
