{% extends "base/subpage.html" %}

{% block subheading %}Video Tour{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}videotour.html">Video Tour</a></li>

{% endblock %}

{% block content %}
<p>Take a quick video tour of one of our condos to see what awaits your family</p>

<div class="row">
    <div class="col-md-12">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Branson Tablerock Oasis (4 bedrooms - Our First Condo) Video Tour</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AP7-KPJznCA" 
                frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="our-team">
            <div class="our-team-text">
                <h4>Branson Tablerock Oasis (4 bedrooms - Our Second Condo) Video Tour</h4>
            </div>

            <div class="our-team-image">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BclaR7GvAkY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our First Condo
        </p>
    </a>

    <a href="http://www.vrbo.com/1023371/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our Second Condo
        </p>
    </a>
{% endblock %}
