

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/1mistybalcony.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/2vaultedlivingareas.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/3boatslip.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/4btoSDCAmericanPlunge.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/5masterbedroom.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/6dogwoodbalcony.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/7btoSDCFireFall.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/8mainlivingfromabove.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/9upperbedroom.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/10btoSDCThunderation.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/11foggybalcony.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/12btoBransonLanding.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/13btoSDCElectroSpin.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/14stairsupperliving.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/15btoTubing.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/16tboSDCTrain.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Branson</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Tablerock</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Oasis</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/17boathouse.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/18sunrisebalcony.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/19btoSDCRaft.jpg" data-fullwidthcentering="on">
</li>
